{% extends 'base.html.twig' %}
{% block body %}
    <p> Home </p>
    <form action="{{ path('app_index_indexupload') }}" method="post" class="dropzone">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
    <form action="{{ path('app_photohandle_index') }}" method="post">
        <button type="submit">Done</button>
    </form>
{% endblock %}


 {% block stylesheets %}
     <link rel="stylesheet" href=" {{ asset('bower_components/dropzone/dist/dropzone.css') }}">
 {% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/dropzone/dist/dropzone.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Dropzone.autoDiscover = false;
            $("#dZUpload").dropzone({
                url: "{{ path('app_index_indexupload') }}",
                addRemoveLinks: false,
                maxFilesize: 40,
                success: function (file, response) {
                    var imgName = response;
                    file.previewElement.classList.add("dz-success");
                },
                error: function (file, response) {
                    file.previewElement.classList.add("dz-error");
                }
            });
        });
    </script>
{% endblock %}

