{% extends 'base.html.twig' %}
{% block body %}
    {% block javascripts %}
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/datetimepicker/jquery.datetimepicker.js') }}"></script>
        <script src="{{ asset('bower_components/foggy/jquery.foggy.js') }}"></script>
        <script src="{{ asset('bower_components/alertify.js/lib/alertify.min.js') }}"></script>

        <!-- Load Feather code -->
        <script type="text/javascript" src="http://feather.aviary.com/imaging/v2/editor.js"></script>
        <!-- Instantiate Feather -->
        <script type='text/javascript'>
            var featherEditor = new Aviary.Feather({
                apiKey: 'eaf9d28e12384e29b51908a9cdccfcdd',
                theme: 'dark', // Check out our new 'light' and 'dark' themes!
                tools: 'all',
                appendTo: '',
                onSave: function(imageID, newURL) {
                    var img = document.getElementById(imageID);
                    img.src = newURL;
                },
                onError: function(errorObj) {
                    alert(errorObj.message);
                }
            });
            function launchEditor(id, src) {
                featherEditor.launch({
                    image: id,
                    url: src
                });
                return false;
            }
        </script>

        <script>


            $(function() {
                // Handler for .ready() called.

            $('.btnaceptall').on('click',function(){
                $('form').each(function(){
                    $( this).submit(function(e){
                        var photoForForm=$("input[name='photoidelement']" , "#"+this.id).val();
                        $("input[name='newPhoto']" , "#"+this.id).val($("#"+photoForForm).attr('src'));
                        var postData = $(this).serializeArray();
                        var formURL = $(this).attr("action");
                        $.ajax(
                                {
                                    url : formURL,
                                    type: "POST",
                                    data : postData,
                                    success: function(data, textStatus, jqXHR)
                                    {

                                    },
                                    error: function(jqXHR, textStatus, errorThrown)
                                    {
                                    }
                                });

                        e.preventDefault(); //STOP default action
                    });

                    $(this).submit();

                });
              //  setTimeout(function(){ console.log('sleeping'); },2000);
              //  window.location.reload();
            });
            });

        </script>


    {% endblock %}

    <div id="content">
            <ul id="picturelist">
                {% for photo in MyFotos %}
                    <li id="div{{ photo.id }}>">
                        <div  align="center" style="margin-bottom: 6px;">
                            <button class ="remoteButton" id="but{{ photo.id }}">Remove</button>
                            <button class ="editButton" id="edit{{ photo.id }}">Edit Photo</button>
                        </div>

                        <img width="500" height="340" id="photo{{ photo.id }}" src="{{ photo.link }}"/>
                        <form style="margin-top: 6px;" action="{{ path('app_photohandle_photoupdate') }}" method="post" id="aForm{{ photo.id }}">
                            Latitude :
                                <input name="Latitude" type="text" style="width:90px;" value="{{ photo.latitude }}">
                            Longitude :
                                <input name="Longitude" type="text" style="width:90px;" value="{{ photo.longitude }}">
                            Time :
                                <input id="phototimer{{ photo.id }}" type="text" name="photoTime" style="width:125px;" value="{{ photo.timetaken|date('Y-m-d H:m:s') }}">
                            <br> Message :
                                <textarea style="margin-top: 10px;"  name="message" rows="1" cols="50"></textarea>
                            <br> PhotoGraher :
                                <select name="photographer">
                                        {% for photograher in Photographers %}
                                            <option value="{{ photograher.name }}">{{ photograher.name }}</option>
                                        {% endfor %}

                                </select>
                            <input id="aceptance{{ photo.id }}" name="aceptance" type="hidden" value="1">

                            <input type="hidden" name="photoID" value="{{ photo.id }}">
                            <input type="hidden" name="newPhoto" value="">
                            <input type="hidden" name="photoidelement" value="photo{{ photo.id }}">

                        </form>
                    </li>
                    <!-- Jquery function for button click !-->
                    <script>
                        $("#edit{{ photo.id }}").on('click',function(){
                            launchEditor('photo{{ photo.id }}','{{ photo.link }}');

                        });

                        $("#but{{ photo.id }}").on('click',function(){
                            alertify.confirm("Are you sure you want to delete?", function (e) {
                                if (e){
                                    // user clicked "ok"
                                    $('#aceptance{{ photo.id }}').val('2');
                                    $('#div{{ photo.id }}').foggy();
                                    $("#but{{ photo.id }}").attr("disabled", true);
                                    $("#edit{{ photo.id }}").attr("disabled", true);

                                }
                            });
                        });
                        $("#phototimer{{ photo.id }}").datetimepicker({
                            formatTime:"H:i",
                            formatDate:"Y-m-d"
                        })
                    </script>

                {% endfor %}
            </ul>
        </div>
                <div align="center">
                    <button class="btnaceptall"> Acept all </button>
                </div>
{% endblock %}


 {% block stylesheets %}
     <link rel="stylesheet" href=" {{ asset('bower_components/datetimepicker/jquery.datetimepicker.css') }}">
     <link rel="stylesheet" href=" {{ asset('bower_components/alertify.js/themes/alertify.core.css') }}">
     <link rel="stylesheet" href=" {{ asset('bower_components/alertify.js/themes/alertify.default.css') }}">
     <link rel="stylesheet" href=" {{ asset('css/main.css') }}">
     <link rel="stylesheet" href=" {{ asset('css/buttons.css') }}">



 {% endblock %}


