    {% extends 'base.html.twig' %}

    {% block body %}
        <div id="photoViewer-divContainer">
            <div id="photoViewer-photo">
                {% if photo.photoFilter == 'no filter' %}
                    <img src="{{ photo.link }}" style="width: inherit; height: inherit">
                {% else %}
                    <img src="{{ photo.photoFilter }}" style="width: inherit; height: inherit">
                {% endif %}
            </div>

            <div id="photoViewer-information">
                <div align="center">
                    <b>Photo taken by:</b>
                    <br>
                    <i class="material-icons md-18">face</i> {{ photo.photographer }}
                </div>
                <br>

                <div align="center">
                    <b>On date:</b>
                    <br>
                    <i class="material-icons md-18">event_note</i> {{ photo.timetaken|date('Y-m-d H:m:s') }}
                </div>
                <br>

                {% if photo.latitude != 0.000000  %}
                    <div align="center">
                        <b>Peek the location:</b>
                        <br>
                        <i style="margin-top: 6px" class="material-icons md-18">room</i>
                        <a href="http://google.com/maps/?q={{ photo.latitude }},{{ photo.longitude }}" target="_blank">View on map</a>
                    </div>
                    <br>
                {% endif %}

                {% if photo.message != 'empty' %}
                    <div align="center">
                        <b>Note:</b>
                        <br>
                    </div>
                    <i class="material-icons md-18" style="margin-right: 10px">message</i>
                    <div style="width: 350px"> {{ photo.message }}</div>
                {% endif %}
            </div>
        </div>
    {% endblock %}


    {% block stylesheets %}
        <link rel="stylesheet" href=" {{ asset('css/photoViewer.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% endblock %}